<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) -[%-5level] [%thread] %c - %msg%n" />
  <property name="LOG_FILE_PATH" value="D:/logs/payplan" />
  
  <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE_PATH}/payplan.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE_PATH}/payplan-%d{yyyy-MM-dd}.log</fileNamePattern>
        <MaxHistory>100</MaxHistory>
    </rollingPolicy>
    
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${PATTERN}</pattern>
    </layout>
  </appender>
  
  <root level="info">
    <appender-ref ref="ROLLING-FILE" />
  </root>
</configuration>